@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 62.5%;
    overflow-x: hidden;
    background: #F9F9F9
        /* scroll-behavior: smooth !important; */
}

.container {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.79rem;
    position: relative;
    letter-spacing: -0.0408rem;
}

h1 {
    font-weight: 700;
    line-height: 3.4rem;
    font-size: 3.4rem;
}

h2 {
    font-family: 'SF Pro Text';
    font-style: normal;
}

li {
    list-style-type: none;
}

.names {
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 2rem;
    letter-spacing: 0.0374rem;
    color: #000000;
}

.number {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.0374rem;
    color: #919698;
}

.grass {
    background: #95C24D;
}

.poison {
    background: #BA7EC8;
}

.water {
    background: #4592C3;
}

.fire {
    background: #FD7D25;
}

.normal {
    background: #A3ACAE;
}

.ghost {
    background: #7B62A3;
}

.fighting {
    background: #C13129;
}

.flying {
    background: #99A5E4;
}

.ground {
    background: #E8D3A4;
}

.rock {
    background: #BEA563;
}

.bug {
    background: #A9BD42;
}

.ghost {
    background: #6762B2;
}

.steel {
    background: #AFADC3;
}

.electric {
    background: #FDC548;
}

.psychic {
    background: #FD6FA1;
}

.ice {
    background: #47CEE4;
}

.dragon {
    background: #8567ED;
}

.dark {
    background: #765A4E;
}

.fairy {
    background: #FDB6F2;
}